<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>my-forum</title>
<link href="css/bootstrap.css" rel="stylesheet">
</head>
<body class="container" ng-app="forum">

	<div class="page-header">NG-forum</div>

		<div class="row" ng-controller="ForumController">
			<div class="col-md-6">
				<div class="panel panel-primary">
					<div class="panel-heading">Post Form</div>
					<div class="panel-body">
						<form name="myForm" novalidate ng-submit="myForm.$valid&&addPost()">
							<div class="form-group">
								<label>Email:</label>
								<input required id="email" ng-model="post.email" name="email" type="email" class="form-control input-sm">
							</div>
							<div class="form-group">
								<label>Message:</label>
								<textarea required minlength="10"  id="message" ng-model="post.message" rows="" cols="30" name="message" class="form-control"></textarea>
							</div>
							<button ng-disabled="myForm.$invalid" type="submit" class="btn btn-primary">submit</button>
						</form>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="panel panel-success">
					<div class="panel-heading">All Posts</div>
				</div>
				<div class="panel-body">
					<div class="list-group" id="postBox">

						<div class="alert alert-info" ng-repeat="post in posts">
							<span>{{post.email}}</span>	
							<p>{{post.message}}</p>
						</div>

					</div>
				</div>
			</div>
		</div>
	
	<hr/>
	
	
	
	
	<script type="text/javascript" src="jquery-3.1.1.js"></script>
	<script type="text/javascript" src="angular-1.6.1/angular.js"></script>
	<script type="text/javascript" src="app.js"></script>

</body>
</html>